[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.1.0"
"psycopg2-binary" = "*"
djangorestframework = "~=3.9.0"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
