[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.1.0"
"psycopg2-binary" = "*"
djangorestframework = "~=3.9.0"
pytest = "~=3.9.2"
pytest-django = "~=3.4.3"
pytest-cov = "~=2.6.0"
mixer = "~=6.1.3"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
